
.btn-bit {
}


#regval {
	text-align: center;
}

.form-control-mod {
	width: auto;
	display: inline;
}

.radio-mod, .checkbox-mod {
	display: inline;
}

.list-inline {
	margin-left: -5px;
	margin-right: -0px;
}

.label-group {
	width: 73px;
}

.label {
	color: #777;
	margin-left: 2px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0px;
	width: 19px;
}

.panel {
	margin-bottom: 0px;
}

.pagination-xs > li > a,
.pagination-xs > li > span {
  padding: 2px 4px;
  font-size: 10px;
}
.pagination-xs > li:first-child > a,
.pagination-xs > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-xs > li:last-child > a,
.pagination-xs > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}